
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/data/state.json
/screenshots/*.png
tests/*-snapshots/

.DS_Store

#allure reporting
allure-results/